node_modules/*
build/*
build
build/asset-manifest.json
build/index.html
build/service-worker.js
build/static/media/DMMono-Regular.f0d6313e.ttf
build/static/media/cheers.f29e7cef.mp4
build/static/js/2.2a7db656.chunk.js.map
build/static/js/2.2a7db656.chunk.js.LICENSE.txt
build/static/js/2.2a7db656.chunk.js
build/service-worker.js
build/index.html
build/asset-manifest.json
