@font-face {
  font-family: "DMMONOREG";
  src: url("DM_Mono/DMMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#app,
#app > div {
  height: 100%;
  width: 100%;
}
